*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(204, 238, 252);
    color:rgb(5, 20, 88);
}

.header{
    text-align: center;
    margin: 20px auto;
}

.original-pic{
    text-align: center;
}

.original-pic h3{
    margin-top: 50px;
    margin-bottom: 40px;
}
#original{
    width:300px;
    height:225px;
}

#original:hover{
    transform: scale(1.3);
    transition: 0.3s;
}

.puzzle-section{
    display:flex;
    flex-direction: row;
    width:100%;
    height:550px;
    margin-top: 30px;

}

.puzzle-parts{
    width: 650px;
    height:520px;
    text-align: center;
    border:solid rgb(3, 3, 58) 1px;
    margin: auto;
}

.puzzle-area{
    width: 650px;
    height:520px;
    text-align: center;
    border:solid rgb(3, 3, 58) 1px;
    margin: auto;
}

.parts-container{
    width: 640px;
    height:550px;
    margin-top: 15px;
   
}

.puzzle{
    display:inline-block;
    width:200px;
    height:150px;
    background-color: honeydew;
    
}

#part1 {
    width: 200px;
    height: 150px;
    background:url(img/3.jpg);
    cursor: pointer;
    
}
#part2 {
    width: 200px;
    height: 150px;
    background:url(img/6.jpg);
    cursor: pointer;
}

#part3 {
    width: 200px;
    height: 150px;
    background:url(img/9.jpg);
    cursor: pointer;
}

#part4 {
    width: 200px;
    height: 150px;
    background:url(img/5.jpg);
    cursor: pointer;
}

#part5 {
    width: 200px;
    height: 150px;
    background:url(img/1.jpg);
    cursor: pointer;
}

#part6 {
    width: 200px;
    height: 150px;
    background:url(img/4.jpg);
    cursor: pointer;
}

#part7 {
    width: 200px;
    height: 150px;
    background:url(img/8.jpg);
    cursor: pointer;
}

#part8 {
    width: 200px;
    height: 150px;
    background:url(img/2.jpg);
    cursor: pointer;
}

#part9 {
    width: 200px;
    height: 150px;
    background:url(img/7.jpg);
    cursor: pointer;
}




.puzzle-container{
    width: 640px;
    height:550px;
    margin-top: 15px;
    
}

.hold{
    border:tomato solid 2px;
}

.hovered{
    border:dotted tomato 2px;
} 

.invisible {
    display: none;
  }
